
.container {
  width: 100% !important;
  padding: 10px 0;
}

.form-group {
  margin-bottom: 0 !important;
  textarea {
    resize: none;
  }
}

.mMarginBottom {
  margin-bottom: 10px;
}

.control-label.required:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 2px;
  top:-2px;
}
