<app-upload-spinner *ngIf="loading"></app-upload-spinner>

<div class="error-message" *ngIf="showError">
  <p>Something went wrong. Check out console output</p>
</div>

<div>
  <ul class="main">
    <li *ngFor="let comment of commentsService.comments">
      <div class="main-wrapper">
        <div class="main-wrapper-profile mPadding">
          <div class="main-wrapper-profile-avatar">
            <img src="../../../assets/images/user-icon.png" alt="avatar" />
          </div>
          <div class="main-wrapper-profile-username">
            <h4>{{ comment.username }}</h4>
          </div>
          <div class="main-wrapper-profile-rating">
            <span class="glyphicon glyphicon-star" *ngFor="let i of this.getRatingArray(comment.rating)"></span>
          </div>
          <div class="main-wrapper-profile-date">{{ comment.date | date }}</div>
        </div>
        <div class="main-wrapper-message mPadding">
          <div class="main-wrapper-message-date">
            <span>{{ comment.date | date }}</span>
          </div>
          <hr/>
          <div>
            <p>{{ comment.message }}</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
