<div>
  <ul>
    <li *ngFor="let pon of newsService.news">
      <span>{{pon.date}}  {{pon.username}}</span>
      <br/>
      <span>{{pon.message}}</span>
    </li>
  </ul>
</div>

<div id="wrapper">

  <div id="profile" class="box">
    <div id="profile-avatar">
      <img src="../../assets/images/user-icon.png" alt="avatar" />
    </div>
    <div id="profile-username">
      <h3>Username</h3>
    </div>
    <div id="profile-rating">
      <span class="glyphicon glyphicon-star" style="color:blue"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    </div>
    <div id="profile-date">02/03/2020</div>
  </div>

  <div id="message" class="box">
    <div id="message-date">
      <span>02/03/2020</span>
    </div>
    <hr/>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia esse ab, reprehenderit necessitatibus ex odit excepturi! Obcaecati quis, enim alias.</p>
    </div>
  </div>

</div>
