<div>
  <ul class="no-margin-and-padding">
    <li *ngFor="let pon of newsService.news">
      <div class="wrapper">

        <div class="profile box">
          <div class="profile-avatar">
            <img src="../../assets/images/user-icon.png" alt="avatar" />
          </div>
          <div class="profile-username">
            <h3>{{pon.username}}</h3>
          </div>
          <div class="profile-rating">
            <span class="glyphicon glyphicon-star"
                  style="color:blue"
                  *ngFor="let i of this.getRatingArray(pon.rating)">
            </span>
          </div>
          <div class="profile-date">{{pon.date}}</div>
        </div>

        <div class="message box">
          <div class="message-date">
            <span>{{pon.date}}</span>
          </div>
          <hr/>
          <div>
            <p>{{pon.message}}</p>
          </div>
        </div>

      </div>
    </li>
  </ul>
</div>
