<!-- TODO:

1) styles + remove <br> tags
2) validation (empty fields check)
3) introduce field's length limitation?

 -->
<div>
  <form [formGroup]="addNewsForm" (ngSubmit)="submitForm()" novalidate>
    <label for="username">Username</label>
    <br/>
    <input type="text" formControlName="username" maxlength="20" id="username" required/>
    <br/>
    <label for="message">Comment: </label>
    <br/>
    <textarea formControlName="message" rows="8" cols="80" id="message" required></textarea>
    <br/>
    <input type="submit" [disabled]="addNewsForm.invalid" />
  </form>
</div>
